<div class="banner">
  <h1>Image Steganography Application</h1>
  <p>Welcome to our Image Steganography Application. Encode secret messages into images or merge two images together securely.</p>
</div>

<div class="container">
  <h2>Image Steganography</h2>
  <app-image-uploader (imageLoaded)="onCoverImageLoaded($event)"></app-image-uploader>
  <app-image-uploader (imageLoaded)="onSecretImageLoaded($event)"></app-image-uploader>
  <app-image-steganography [coverImage]="coverImage" [secretImage]="secretImage"></app-image-steganography>

  <app-text-in-image-steganography [image]="coverImage"></app-text-in-image-steganography>
</div>
